.jumbotron {
    margin:0;
    padding: 30px;
    color: whitesmoke;
    background-image: linear-gradient(to bottom,#0eb1d2,#2b4141);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

body {
    font-family: 'Ysabeau Office', sans-serif;
    background-color:#2b4141;
}

h1, h2, h3 {
    font-family: 'Ysabeau Office', sans-serif;
}

.img-wrapper {
    position: relative;
    width:auto;
  }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }

.list-item {
    color: whitesmoke;
}

.modal-body {
  background-color: #2b4141;
}

.modal-content {
  background-color: #2b4141;
}

