.jumbotron {
    margin:0;
    padding: 30px;
    color: whitesmoke;
    background-image: linear-gradient(to bottom,#0eb1d2,#2b4141);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

body {
    font-family: 'Ysabeau Office', sans-serif;
    background-color:#2b4141;
}

h1, h2, h3 {
    font-family: 'Ysabeau Office', sans-serif;
}

.modal-body {
  background-color: #2b4141;
}

.modal-content {
  background-color: #2b4141;
}

